
html,body{
  height:100%;
  background-color:black;
  width:100%;
}

div{
  margin:0 auto;
  background-color:white;
  height:100%;
  width: 80%;

}
img{
  position:absolute;
  height:100px;
  width:100px;
  overflow:hidden;
}
